@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    _app.controller("appController", function ($http, textTranslator) {
            var vm = this;

            var workout = {
                type: "",
                exercise: "",
                value: "",
                date: new Date().toDateString()
            };

            vm.workout = workout;

            vm.workoutTypes = _tl(["running", "elliptical", "weights", "cycling"]);

            vm.exerciseTypes = [
                { type: _tl('weights'), exercise: _tl(["squats", "bench", "db bench", "kettlebell", "deadlift", "db press", "calf raise"]) },
                { type: _tl('running'), exercise: _tl(["miles", "time"]) },
                { type: _tl('cycling'), exercise: _tl(["miles", "time"]) }
            ];

            vm.saveWorkout = function (woType, excercise, woValue, woDate) {

                if (!confirm('Continue and Save')) {
                    return false;
                }

                $http({
                    method: 'POST',
                    url: 'Home/SaveWorkout',
                    data: {
                        type: woType,
                        excercise: excercise,
                        wovalue: woValue,
                        wodate: woDate
                    }
                }).then(function (response) {
                    alert('Complete');
                });

            }

            vm.savedWorkouts = [{
                type: "Running",
                excercise: "Sprint",
                value: 20,
                date: new Date().toDateString()
            }, {
                type: "Running",
                excercise: "Jog",
                value: 60,
                date: new Date().toDateString()
            }, {
                type: _tl("Running"),
                excercise: _tl("Jog"),
                value: 60,
                date: _tl(new Date().toDateString())
            }]

    })

</script>

    <style>
        #divWorkoutEntry {
            padding:25px;
        }
        #divWorkoutEntry > * {
            display:block;
            margin-bottom:10px;
            width:100%;
        }

        .divSavedWorkout {
            display:inline-block;
            width: 300px;
        }
    </style>

    <!-- One -->
    <section id="one" class="main style1" ng-controller="appController as ctrl">
        <div class="container">
                
            <div class="row 150%">
                <div style="width:30%;" id="divWorkoutEntry">

                    <select ng-model="ctrl.workoutTypes" id="ddlWorkout" name="ddlWorkout" >
                        @*<option value="" selected="selected">--Select Workout--</option>*@
                        <option ng-repeat="workoutType in ctrl.workoutTypes" value="{{workoutType}}">{{workoutType}}</option>
                    </select>

                    <select ng-model="ctrl.exerciseTypes" id="ddlWorkout" name="ddlWorkout" 
                            ng-options="exercise as exerciseType.exercise[0] for exerciseType in ctrl.exerciseTypes ">

                        @*<option ng-repeat="exerciseType in ctrl.exerciseTypes | filter:{exerciseType.type :'weights'} " value="{{exerciseType.exercise}}">{{exerciseType.exercise}}</option>*@
                    </select>

                    <input type="number" value="{{ctrl.workout.value}}" id="txtValue" name="txtValue" placeholder="@_tl.TranslateText("Distance, Weight, Time (Minutes)")" />
                    <input type="button" value="@_tl.TranslateText("Save")" ng-click="ctrl.saveWorkout()" />
                </div>

                <div style="width:70%;">

                    <div ng-repeat="savedWorkout in ctrl.savedWorkouts" class="divSavedWorkout">
                        <div>@_tl.TranslateText("Workout"): {{savedWorkout.type}} - {{savedWorkout.excercise}}</div>
                        <div>@_tl.TranslateText("Value"): {{savedWorkout.value}}</div>
                        <div>@_tl.TranslateText("Date"): {{savedWorkout.date}}</div>
                    </div>

                </div>
            </div>


        </div>
    </section>

                